.Button {
  background: var(--light-blue);
  border: 0;
  border-radius: 0.2em;
  cursor: pointer;
  color: var(--dark-blue);
  font-size: 1.2em;
  height: 2em;
  padding: 0 1em;
  transition: 0.15s background-color linear;
}
.Button:hover {
  background: white;
}
.Button[disabled] {
  background: #849193 !important;
  border: 0 !important;
  color: var(--dark-blue) !important;
}
