.Submarine {
  position: relative;
  width: 480px;
  z-index: 100;
}

.Submarine-svg {
  fill: url(#submarine-gradient) var(--dark-blue);
  opacity: 0.8;
}

.Submarine-players {
  display: flex;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translateX(-50%);
}

.Submarine-player {
  margin-left: 1em;
}
.Submarine-player:first-child {
  margin: 0;
}
