.Submarine {
  fill: url(#submarine-gradient) var(--dark-blue);
  opacity: 0.8;
  position: relative;
  width: 480px;
  z-index: 0;
}
.Submarine::before {
  content: "";
  background: linear-gradient(
    to bottom,
    black 20%,
    var(--dark-blue) 50%,
    black 80%
  );
  fill: url(#submarine-gradient) var(--dark-blue);
  height: 32px;
  left: 2em;
  position: absolute;
  top: 50%;
  width: 300px;
  z-index: -1;
}
