.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.Home-header {
  font-size: 2.4em;
  color: var(--dark-blue);
}

.Home-newGame {
  margin-top: 1em;
}
