.App-background {
  background: linear-gradient(
    to bottom,
    var(--light-blue) 0%,
    var(--med-blue) 40%,
    var(--dark-blue) 80%,
    var(--ddark-blue) 100%
  );
  left: 0;
  position: absolute;
  top: 0;
}
