html,
body {
  --ddark-blue: #07021e;
  --dark-blue: #140f2d;
  --med-blue: #15616d;
  --light-blue: #68c3d4;
  --red: #d81e5b;
  --orange: #fa824c;
  --yellow: #edae49;
  --green: #08a045;
  --blue: #39a0ed;
  --purple: #5b2a86;
  background: var(--dark-blue);
  color: var(--dark-blue);
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
}

body,
button,
input {
  font-family:
    "Josefin Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  color: white;
  font-size: 1.2em;
  height: 2em;
  padding: 0;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"][disabled] {
  border-bottom-color: var(--);
}
input[type="text"]::placeholder {
  color: var(--light-blue);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
